body {
  background-color: rgb(255, 255, 255);
  width: 550px;
}

header{
    width: 300px;
    margin: 0px auto;
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
}

h1 {
    text-align: center;
    color: rgb(46, 46, 46);
    padding: 5px;
}

.goals{
  display: flex;
  background-color: rgb(236, 236, 236);
  padding: 10px 0px 10px 10px;
  margin: 10px 0;
  border: 2px solid rgb(216, 216, 216);
  border-radius: 10px;
  width: 525px;
}

textarea{
  width: 525px;
  height: 50px;
}
.goals .element{
 width: 450px;

}
.goals button {
  justify-content: space-between;
}

.affirm {
  background-color: rgb(173, 193, 236);
  color: black;
  padding: 5px 10px;
  border: 2px solid rgb(170, 179, 231);
  border-radius: 10px;
}

#jokeContainer{
  position: absolute;
  bottom: 10px;
  height: 120px;
  width: 550px;
}

.joke{
  background-color: rgb(252, 235, 189);
  margin: 10px 5px;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
}