# npm
node_modules

# System files
.DS_Store
.vscode

# Tests
coverage

# Package
package/build

# DevTool
dev-tool/build/bundles

# Demo App
chromogen.test.js

package-lock.json

dev-tool/build/app.bundle.js
dev-tool/build/app.bundle.js.map
dev-tool/build/background.bundle.js
dev-tool/build/background.bundle.js.map
dev-tool/build/content.bundle.js
dev-tool/build/content.bundle.js.map
