html {
  margin: 0;
  background-color: rgb(48, 48, 48);
  color: whitesmoke;
  font-family: 'Palanquin', sans-serif;
}
.listContainer {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 15fr 33fr 33fr;
}
.itemsContainer {
  box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.171);
}
h1 {
  text-align: center;
  font-size: 2.3rem;
  color: #af6358;
 text-shadow: 1px 2px 2px rgba(250, 250, 250, 0.267);
 letter-spacing: 2px;
}
input, button, select {
  background-color: rgb(63, 63, 63);
  border: 1px solid lightgray;
  border: none;
  padding: 20px;
  border-radius: 4px;
  color: whitesmoke;
  font-size: 15px;
  letter-spacing: 1px;
}
.listContainer {
  width: 80vw;
  margin: 0 auto;
}

.listRow {
  margin: 0 auto;
  width: 700px;
}

.itemsContainer {
  max-height: 500px;
  overflow: auto;
}
ul {
  display: inline-flex;
  margin: 0;
  padding: 0px;
  width: 100%;
}
ul button {
  width: 33.33%;
  border-radius: 0px 0px 4px 4px;
}
.itemContainer {
  display: grid;
  grid-template-columns: 60fr 20fr 20fr;
  border-bottom: 1px solid rgba(245, 245, 245, 0.336);
}
button:focus {
  outline: none;
  background-color: rgb(68, 68, 68);
}
button:active {
  background-color: rgb(68, 68, 68);
}
input:focus {
  outline: none;
}
input::placeholder {
  font-style: italic;
}
.checkbox {
  -webkit-appearance: none;
}
.checkbox:active, .checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

button span {
  opacity: .60;
}

.itemCreator button {
  width: 15%;
  padding: 0px;
  height: 60px;
}
.itemCreator input {
  padding: 0 0 0 5%;
  width: 80%;
  height: 60px;
}

.itemCreator input, button {
  border-radius: 4px 4px 0px 0px;
 }