*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
#root, /* for create-react-app */
#__next /* for Next.js */ {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* -------------General Styles---------------- */
html {
  margin: 0;
  background-color: #2e3237;
  color: #9ee6f7;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 2.3rem;
  color: #9ee6f7;
  text-shadow: 1px 2px 2px rgba(250, 250, 250, 0.267);
  letter-spacing: 3px;
}
input,
button,
select {
  background-color: transparent;
  /* border: 1px solid lightgray; */
  border: none;
  padding: 20px 0;
  border-radius: 4px;
  color: #9ee6f7;
  font-size: 18px;
  letter-spacing: 1px;
}

/* remove browser defaults */
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
/* ------------TodoList------------- */

/* topmost container */
.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  padding-inline: 32px;
  width: 100%;
  max-width: 800px;
  height: 100%;
  flex-direction: column;
  padding-bottom: 24px;
}

/* overall row container for todo list display */
.todosDisplayRow {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  color: #9ee6f7;
}

a {
  color: #9ee6f7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.todosDisplayRow h1 {
  padding-block: 40px;
}

/* container for entire list display */
.todosContainer {
  background-color: rgb(63, 63, 63);
  box-shadow: 0px 0px 35px 20px rgba(10, 10, 10, 0.096);
  border-radius: 5px;
  padding: 5px 12px 0 12px;
}

/* -------------TodoItemCreator---------------- */

.itemCreator {
  display: flex;
  border-bottom: 1px solid rgba(245, 245, 245, 0.336);
}

.itemCreator button {
  padding: 0 24px;
}

input::placeholder {
  letter-spacing: 1.5px;
}

.itemCreator input {
  padding: 0 0 0 12px;
  flex-grow: 1;
  height: 60px;
}

#radioContainer svg {
  margin-top: 11px;
  opacity: 0.7;
}

label.MuiFormControlLabel-root {
  margin-left: 0;
  margin-right: 0;
}

/* -------------TodoItem---------------- */

.itemContainer,
.lowPriority,
.mediumPriority,
.highPriority {
  display: grid;
  grid-template-columns: 79fr 14fr 7fr;
  border-bottom: 1px solid rgba(245, 245, 245, 0.336);
}

/* dynamic checkbox color */
.highPriority svg {
  color: #f10101;
  opacity: 0.7;
  margin-right: 28px;
}
.mediumPriority svg {
  color: #ffe600;
  opacity: 0.7;
  margin-right: 28px;
}
.lowPriority svg {
  color: #05fb11;
  opacity: 0.7;
  margin-right: 28px;
}

#todoItem button {
  margin-left: 7px;
}

/* -------------TodoListFilter---------------- */

ul {
  display: grid;
  grid-template-columns: 27fr 27fr 27fr 6fr 6fr 6fr;
  margin: 0;
  padding: 0px;
  width: 100%;
}

.filter-button {
  margin-top: 10px;
  margin-bottom: 10px;
  border-right: 1px solid rgba(234, 230, 230, 0.26);
  padding: 10px 20px;
  border-radius: 0px 0px 4px 4px;
}

/* dynamic sort icon color */
#sortedWhite svg {
  color: whitesmoke;
}
#unsortedGray svg {
  color: rgba(245, 245, 245, 0.336);
}
#unsortedGray {
  width: 64px;
}

#statsSpan {
  display: grid;
  grid-template-columns: 30fr 30fr 30fr;
  align-items: center;
}
#highSpan {
  color: #ef5350;
  opacity: 0.7;
  margin-right: 4px;
}
#mediumSpan {
  color: #ffee58;
  opacity: 0.7;
  margin-right: 4px;
}
#lowSpan {
  color: #66bb6a;
  opacity: 0.7;
}

/* filter stats (number) */
button span {
  opacity: 0.6;
}

/* ----------QuoteBox---------- */

#quoteContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: space-between; */
  font-size: 18px;
}

#quoteContainer p {
  white-space: pre-wrap;
  padding-bottom: 24px;
}

.quoteBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgba(234, 230, 230, 0.1);
  /* background-color: rgb(63, 63, 63); */
  /* box-shadow: 0px 0px 35px 20px rgba(10, 10, 10, 0.096); */
  border-radius: 5px;
  padding: 16px 24px;
}

.quoteBox img {
  margin: 20px;
  height: 150px;
  width: 150px;
}

.quoteBox button {
  width: 150px;
  padding: 24 0;
  text-align: left;
}

.quoteBox button:hover {
  cursor: pointer;
  /* background-color: rgba(255, 255, 255, 0.1); */
}

/* .quoteBox button:active {
  background-color: #75acb990;
} */

/* ---------- TodoQuickCheck ---------- */

/* #quickCheck {
} */

#quickCheck svg {
  color: #9ee6f7;
}

button {
  cursor: pointer;
}

/* ---------- Search ---------- */
.searchContainer {
  display: sticky;
  margin-top: 100px;
  background-color: rgb(63, 63, 63);
  box-shadow: 0px 0px 35px 20px rgba(10, 10, 10, 0.096);
  border-radius: 5px;
  padding: 5px 12px 12px 12px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.searchField {
  border-bottom: solid 1px whitesmoke;
  border-radius: 0;
  padding-left: 12px;
}

.prioritySelect {
  grid-column-start: 2;
  border-bottom: solid 1px whitesmoke;
  border-radius: 0;
  -webkit-appearance-select: none;
}

.searchResults {
  grid-column-start: span 3;
}

#newChromogenLogo {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 300px;
}

select {
  -webkit-appearance-select: none;
  /* background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%238C98F2'><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat; */
}

/*  */

.w-tc-editor[data-color-mode*='dark'],
[data-color-mode*='dark'] .w-tc-editor,
[data-color-mode*='dark'] .w-tc-editor-var,
body[data-color-mode*='dark'] {
  --color-fg-default: #ddd;
  --color-canvas-subtle: #161b22;
  --color-prettylights-syntax-comment: #818c97;
  --color-prettylights-syntax-entity-tag: #ed81b0;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #ddd;
  --color-prettylights-syntax-constant: #ed8876;
  --color-prettylights-syntax-string: #68afc8;
  --color-prettylights-syntax-keyword: #ed81b0;
  --color-prettylights-syntax-markup-bold: #c9d1d9;
}
